body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  width: 70%;
  border-radius: .28571429rem;
  height: 120px;
  -webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.posts {
  height: calc(100vh - 120px);
  display: flex; 
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: initial;
  animation: none;
  overflow-y: scroll;
  padding: 1em 1em;
  min-height: 18rem;
  background: #f9fafb;
  border-color: rgba(34,36,38,.15);
  box-shadow: 0 2px 25px 0 rgba(34,36,38,.05) inset;
}

.posts-box {
  height: 100%;
}